* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
    text-align: center;
}

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(231 92% 3%);
  --bg: hsl(223 71% 6%);
  --bg-light: hsl(220 48% 10%);
  --text: hsl(219 100% 100%);
  --text-muted: hsl(219 51% 74%);
  --highlight: hsl(220 28% 43%);
  --border: hsl(220 36% 32%);
  --border-muted: hsl(220 51% 21%);
  --primary: hsl(219 78% 75%);
  --secondary: hsl(40 54% 60%);
  --danger: hsl(9 37% 65%);
  --warning: hsl(52 26% 54%);
  --success: hsl(147 24% 57%);
  --info: hsl(217 40% 66%);
}
body .light{
      /* hsl (fallback color) */
  --bg-dark: hsl(219 89% 92%);
  --bg: hsl(219 100% 97%);
  --bg-light: hsl(219 100% 100%);
  --text: hsl(230 98% 8%);
  --text-muted: hsl(220 36% 32%);
  --highlight: hsl(219 100% 100%);
  --border: hsl(219 89% 92%);
  --border-muted: hsl(219 39% 66%);
  --primary: hsl(220 50% 33%);
  --secondary: hsl(44 100% 14%);
  --danger: hsl(9 28% 41%);
  --warning: hsl(51 36% 31%);
  --success: hsl(149 30% 34%);
  --info: hsl(217 30% 42%);
}



html,body {
    width: 100%;
    width: 100%;
    background:var(--bg-dark);
    scroll-behavior: smooth;
    cursor: url("cursor.png"), auto;
}


/* ----------------Defults---------------------- */

button{
    background-color: var(--bg-light);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5rem;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    border-color: var(--bg-dark);
    outline: none;
    color: var(--text-color);
    border-top: solid 1px var(--highlight);
    box-shadow: var(--shad);
}

button:hover{
    background-color:var(--primary);
    color: var(--bg);
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(10, 153, 219);
    outline: none;
    border: 2px solid var(--border-muted);

}
.cta{
    display: inline-block;
    padding: 10px 30px;
    background: var(--bg-light);
    border: 2px solid var(--bg-dark);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--border-muted);
    font-size: 16px;
    color: var(--primary);
    font-weight: 600;
    transition: .5s;
    margin-bottom: 1rem;
    border-top: solid 1px var(--highlight);

}

.cta:hover{
    background: transparent;
    color: var(--primary);
    box-shadow: none;
    border: 2px solid var(--border-muted);

}

h1,h2 {
    color: var(--text);
    font-size: clamp (1.8rem, 10vw, 5rem);
    margin: 1rem;
    text-align: center;

}

span{
    color: var(--primary);
    font-weight: bold;
}

p {
    color: var(--text-muted);
    font-size: 20px;
    line-height: 1.3;
    margin: 1rem ;
}

img{
    max-width: 100%;
    max-height: 100%;
        border-radius: 1rem;
}

section{
    padding: 50px;
}



.text {
    flex: 1;
    min-width: 50%;
    padding: 0 1rem;
}



img :hover{
    transform: scale(2);
}
.footer {
    overflow: none;
    justify-content: space-evenly;
    display: flex;
    background-color: var(--bg);
    line-height: normal;
    text-align: center;
    padding: 2rem;
    width: 100%;
    color: var(--text-muted);
}



/* ----------------Navigation---------------------- */

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: relative;
    height: 70px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a {
    color: var(--text);
    font-size: 20px;
    font-weight: 500; 
    transition: .5s;
}

nav ul li a:hover  {
    color: var(--primary);
}
.menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--text);
    font-size: 30px;
}

.logo img {
    max-width: 50px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}



.socials a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary);
    margin: 0 8px;
    transition: .5s;
}
.socials a:hover{
    background: var(--primary);
    color: var(--bg);
    box-shadow: 0 0 10px var(--primary);
}

/* ----------------Home---------------------- */

.home-image{
    position: absolute;
    margin-top: 5rem;
    width: 530px;
    top: 0;
    bottom: 0;
    right: 10%;
    
}
.socials a{
    justify-content: space-between;
    margin: 1rem;
    font-size: 2em;
}

.best-seller{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .best-seller img{
    width: 530px;
    top: 0;
    bottom: 0;
    right: 10%;
  }

.services{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    background: linear-gradient(to bottom, var(--background-color), #1b8de5, var(--background-color));
  }

  #best-seller-tag{
    padding: 1em 0;
    background: var(--bg-light);
    border: 2px solid var(--border);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--border-muted);
    font-size: 1rem;
    color: var(--primary);
    font-weight: 600;
    text-align: center;
    margin: 0 0;
    width: 100%;
  }
  
  .testimonials{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
  }
  
  .card {
   background-color: var(--bg);
   place-content: center;
   border-radius: 1rem;
   max-height: fit-content;
    border: 2px solid var(--border);
  }

  .card img{
    place-items: center;
    width: 100%;
    top: 0;
    flex-grow: 1;
    height: auto;
  }

  .card p{
    padding: fit-content;
    color: var(--text-muted);
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--border-muted);
  }
  



  
/* ----------------Store---------------------- */

iframe {
    height: 100vh;
    width: 100vw;
}

/* ----------------About---------------------- */
.about .text{
    margin-right: 2rem;
}
.about img{
    max-width: 30%;
    height: auto;
    box-shadow: 0 0 30px #0dd54c;
    border-radius: 2rem;
}

/* ----------------Creations---------------------- */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--bg-light);
    box-shadow: 0 0 20px var(--border-muted);
    color: var(--text);
    width: 2rem;
    height: 2rem;
    font-size: 30px;
    font-weight: 500;
     border: solid 1px var(--border);
}

.back-to-top:hover{
    transform: scale(1.1);
    border-top: solid 1px var(--highlight);
}
    .gallery{
 columns: 400px;
    }

    .gallery img{
      width: 100%;
      padding: 5px;
      align-items: center;
      justify-content: center;
      
    }
    
/* ----------------Phone View---------------------- */
@media (max-width:600px) {
   
    
    nav ul {
        display: block;
    width: 100%;
    background: var(--bg);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;

    .menu-icon {
        display: block;

    }
    
    .menu-icon i {
        color: var(--text);
        font-size: 3rem;
    }
    .menu-icon  :hover{
        color: var(--primary);
        transition: .5x;
    }
        
.services {
max-width: 100%;

}
    .column {
    width: 100%;
    text-align: center;
    
      display: block;
      overflow: hidden;
    }
    #menuList{
        overflow: hidden;
        transition: .5s;
    }
    .about img{
        max-width: 100%;
        align-items: center;
    }
    section .services .testimonials{
        display: flex;
    }
    .text .text p {
        max-width: 100%;
        align-items: center;
    }
      }

