* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
    scroll-behavior: smooth;
}

:root{
--bg-dark: hsl(228 79% 2%);
--bg: hsl(222 55% 5%);
--bg-light: hsl(219, 29%, 13%);
--text: hsl(220 100% 98%);
--text-muted: hsl(220 35% 73%);
--highlight: hsl(220 20% 42%);
--shadow: 0 2px 2px hsla(0, 0%, 0%, 0.226), 0px 6px 6px hsla(0, 0%, 0%, 0.233);
--border: hsl(220 26% 31%);
--border-muted: hsl(220 37% 20%);
--primary: hsl(220 78% 76%);
--secondary: hsl(40 53% 60%);
--danger: hsl(9 26% 64%);
--warning: hsl(52 19% 57%);
--success: hsl(146 17% 59%);
--info: hsl(217 28% 65%);
}
@media(prefers-color-scheme: light){
    :root{
--bg-dark: hsl(220 59% 91%);
--bg: hsl(220 100% 97%);
--bg-light: hsl(220 100% 100%);
--text: hsl(226 85% 7%);
--text-muted: hsl(220 26% 31%);
--highlight: hsl(220 100% 100%);
--shadow: 0 2px 2px hsla(0, 0%, 0%, 0.226), 0px 6px 6px hsla(0, 0%, 0%, 0.233);
--border: hsl(220 19% 53%);
--border-muted: hsl(220 27% 65%);
--primary: hsl(221 49% 33%);
--secondary: hsl(44 100% 14%);
--danger: hsl(9 21% 41%);
--warning: hsl(52 23% 34%);
--success: hsl(147 19% 36%);
--info: hsl(217 22% 41%); 
}}

html,body {
    width: 100%;
    width: 100%;
    background:var(--bg-dark);
    scroll-behavior: smooth;
}
/* ----------------Defults---------------------- */
.cta{
    display: inline-block;
    padding: 10px 30px;
    background: var(--bg-light);
    border-top: 1px solid var(--highlight);
    border-radius: 40px;
    font-size: 16px;
    color: var(--text);
    font-weight: 600;
    transition: .5s;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);

}

.cta:hover{
    background: var(--bg);
    box-shadow: none;
}

h1,h2 {
    color: var(--primary);
    font-size: clamp (1.8rem, 10vw, 5rem);
    margin: 1rem;
    text-align: center;

}

span{
    color: var(--primary);
    font-weight: bold;
}

p {
    color: var(--text-muted);
    font-size: 20px;
    line-height: 1.3;
    margin: 1rem ;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
}

.grid-side-by-side{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-item{
    padding: 50px;
}

.grid-item img {
    width: 70%;
    height: auto;
    margin: 0 1rem;
}

.footer {
    overflow: none;
    justify-content: space-evenly;
    display: flex;
    background-color: var(--bg);
    line-height: normal;
    text-align: center;
    padding: 2rem;
    width: 100%;
    color: var(--text);
    box-shadow: inset 0 4px 4px hsla(0, 0%, 0%, 0.39), 0px 6px 6px hsla(0, 0%, 0%, 0.37);
;
}



/* ----------------Navigation---------------------- */

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: relative;
    height: 70px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a {
    color: var(--text);
    font-size: 20px;
    font-weight: 500; 
    transition: .5s;
}

nav ul li a:hover  {
    color: var(--primary);
}
.menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--text);
    font-size: 30px;
}

.logo img {
    max-width: 50px;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}

.socials a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--primary);
    margin: 0 8px;
    transition: .5s;
    justify-content: space-between;
    margin: 1rem;
    font-size: 2em;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}
.socials a:hover{
    background: var(--primary);
    color: var(--bg-dark);
    box-shadow: 0 0 10px var(--primary);
}

/* ----------------Home---------------------- */
.services{
    padding: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
  }

    #best-seller-tag{
    padding: 1em 0;
    background: var(--bg);
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);    
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text);
    font-weight: 600;
    text-align: center;
    margin: 0 0;
    width: 100%;
  }
  
  .testimonials{
    padding: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
  }
  
  .card {
   background-color: var(--bg-light);
   place-content: center;
   border-radius: 1rem;
   max-height: fit-content;
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);    
  }

  .card img{
    place-items: center;
    width: 100%;
    top: 0;
    flex-grow: 1;
    height: auto;
    margin: 0 0;
     border-top: 1.5px solid var(--highlight);
    box-shadow: var(--shadow);    
  }

  .card p{
    padding: fit-content;
    color: var(--text);
  }
/* ----------------Store---------------------- */
iframe {
    height: 100vh;
    width: 100vw;
}
/* ----------------About---------------------- */
.about .text{
    margin-right: 2rem;
}
.about img{
    max-width: 30%;
    height: auto;
    box-shadow: 0 0 30px #0dd54c;
    border-radius: 2rem;
}
/* ----------------Creations---------------------- */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:var(--bg-light);
     border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);    
    color: var(--text);
    width: 2rem;
    height: 2rem;
    font-size: 30px;
    font-weight: 500;
}

.back-to-top:hover{
transform: scale(1.1);
background-color: var(--bg);
}
    .gallery{
 columns: 400px;
}
    .gallery img{
      width: 100%;
      padding: 5px;
      align-items: center;
      justify-content: center;
      
    }
    
/* ----------------Phone View---------------------- */

@media (max-width:600px) {
nav{
background: var(--bg);
}    
nav ul {
display: block;
width: 100%;
background: var(--bg);
position: absolute;
top: 75px;
right: 0;
z-index: 2;
}
nav ul li{
display: block;
margin-top: 10px;
margin-bottom: 5px;
margin-right: 1em;
text-align: right;
}
.menu-icon {
display: block;
color: var(--text);
}   
.menu-icon i {
 font-size: 3rem;
}
.services {
max-width: 100%;
}
.grid-side-by-side{
grid-template-columns: 1fr;
}
.grid-item img{
max-width: 80%;
align-items: center;
align-self: center;
justify-content: center;
justify-self: center;
}
#menuList{
overflow: hidden;
transition: .5s;
}
section .services .testimonials{
display: flex;
}
.text .text p {
max-width: 100%;
align-items: center;
}
}
