*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(21, 110, 184, 0.743),rgba(30, 119, 144, 0.743));
    position: relative;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    width: 80px;
    cursor: pointer;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-right: 100px;

}
nav ul li a {
text-decoration: none;
color: #fff;
font-size: 17px;
font-weight: 600;
}
a :hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content {
    text-align: center;
    margin-top: 5%;

}
.contents {
    text-align: center;
    margin-top: 5%;

}
h1 {
font-size: 80px;
color: #fff;
font-weight: 600;
padding-bottom: 2%;
}
h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.testimonials {
    background-image: linear-gradient(rgba(0, 140, 255, 0.743),rgba(16, 51, 79, 0.743));
    text-align: center;
    position: relative;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.testimonials p {
    margin-right: 10%;
    margin-left: 10%;
}
h1 {
font-size: 80px;
color: #fff;
font-weight: 600;
}
h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 400;
    }
    h1:hover {
        -webkit-text-stroke: 2px #fff;
        color: transparent;
    }
p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0;

}

.footer img {
    width: 80px;
    max-height: 80px;
    cursor: pointer;
    justify-content: space-between;
    padding: 20px 20px;
    justify-content: center;


}
.footer {
    width: 100%;
    position: absolute;
    align-items: center;
    background-color: #fff;
}

.myImg{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2rem 5%;
    columns: 15rem 3;
    gap: 1.4rem;
    overflow: scroll;
  }
  
  .content .myImg img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2rem 5%;
    columns: 15rem 3;
    gap: 1.4rem;
    overflow: scroll;
  }
  iframe 
{height: 100vh;
width: 100vw;
margin-top: 10%;
}


}
.column img {
    margin-top: 10%;
}
.best-seller {
    width: 30%;
    height: fit-content;
}
img {
    border-radius: 5%;
}
.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

@media screen and (max-width:1440px) {

.hero {
    background-size: cover;
    overflow: auto;
    position: relative;
    margin: 0;
}
h1 {
        font-size: 36px;
        line-height: 50px;
        margin: auto;
        padding-top: 90%;
    }
h2 {
        font-size: 36px;
        line-height: 50px;
        margin: auto;
    }
p {
    margin: auto;
    overflow: hidden;
    font-size: 20;
    line-height: 40px;
    padding: 5% 0;
}
.contents {
    background-size: cover;
    overflow: auto;
    position: relative;
    margin: 0;
}
.content {
    margin-top: 1rem;
}
.content p {
    background-size: cover;
    overflow: auto;
    position: relative;
    margin: 0;
}
.content h1 {
    background-size: cover;
    overflow: auto;
    position: relative;
    margin: 0;
}
.yando {
flex: 1;
}
.column {
        width: 100%;
        overflow: visible;
        flex-direction: column;
        margin-right: 0;
        margin:  0;
        padding: 0;
    }
    iframe {
        padding-top: 5%;
    }
}
